@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  height: 100vh;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.card-input-form {
  background-color: #fff;
  padding: 25px;
  padding-top: 195px;
  border-radius: 25px;
  width: 570px;
  margin: 0 auto;
}

select {
  width: 100%;
}

.card-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  input {
    font-size: 24px;
    height: 50px;
  }
}

.card-input-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.card-input-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-input__group {
  width: 100%;
  .card-input-col {
    display: flex;
    margin-top: 5px;

    select {
      font-size: 18px;
      height: 50px;
      align-items: center;
      padding-left: 15px;
      margin-right: 20px;
    }
  }
}

.card-input-cvv {
  display: flex;
  flex-direction: column;

  input {
    font-size: 24px;
    width: 100%;
    max-width: 150px;
    height: 50px;
  }
}

.card-button {
  button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    background-color: #2364d2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
}

.card-list {
  margin-bottom: -120px;
  .card-item {
    color: #fff;
    max-width: 430px;
    height: 270px;
    background-color: #00bbb7;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    padding: 25px 15px;
    background-image: url(https://www.ecomagazine.com/images/Newsletter/0_2019/Week_12-9-19/baltic-sea-4136488_1920.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    margin: 0 auto;
  }
  
  .card-item__top {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 40px;

    .card-item__chip {
      width: 65px;
      height: 50px;
      background-size: 65px 50px;
      background-repeat: no-repeat;
    }

    .card-item__logo {
      max-width: 100px;
      height: 45px;
      .card-item__logo-item {
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .card-item__number {
    padding: 10px 15px;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 30px;
    display: flex;

    .card-number-mask.default-mask span:nth-child(4n) {
      margin-right: 20px;
    }

    .card-number-mask.default-mask span:last-child {
      margin-right: 0;
    }

    .card-number-mask.apex-mask span:nth-child(4) {
      margin-right: 20px;
    }
    .card-number-mask.apex-mask span:nth-child(12) {
      margin-right: 20px;
    }

    .card-number-mask {
      display: flex;
    }

    .card-item__number--item {
      width: 16px;
      margin-right: 2px;
    }
  }

  .card-item__footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    font-weight: 500;

    .card-item__expires-item {
      display: flex;
      font-size: 22px;
      min-width: 65px;
    }

    .card-item__hodler {
      width: 100%;
      .card-item__holder-item {
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        width: 80%;
        text-transform: uppercase;
        max-width: 250px;
      }
    }

  }
}

.active {
  color: red;
}

.chip {
  background-image: url('../assets/images/chip.png');
}

.visa {
  width: 85px;
  background-image: url('../assets/images/visa.png');
}

.amex {
  width: 100px;
  background-image: url('../assets/images/amex.png');
}

.mastercard {
  width: 58px;
  background-image: url('../assets/images/mastercard.png');
}

.unionpay {
  width: 72px;
  background-image: url('../assets/images/unionpay.png');
}

.discover {
  width: 100px;
  background-image: url('../assets/images/discover.png');
}

.troy {
  width: 100px;
  background-image: url('../assets/images/troy.png');
}